.card {
  word-wrap: normal;
  padding: 20px;
  margin: 10px;
}

.image-thumbnail{
  height: 95px;
  width: 95px;
  background-size: contain;
}

.review-buttons {
  word-wrap: normal;
  margin: 10px;
}

.dropdown {
  padding-right: 5px;
}
